@import "tailwindcss";

body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes pulse-slow {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
  }

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 1s ease-out;
  }
  .animate-slideUp {
    animation: slideUp 0.8s ease-out forwards;
  }
  .animate-pulse-slow {
    animation: pulse-slow 4s infinite;
  }
  .animate-blob {
    animation: blob 7s infinite;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
